.nav-link{
    font-weight: 400;
    padding: 0px 20px !important;
    font-size: 18px;
}
.nav-link:hover{
    font-weight: bold;
    color: var(--primary) !important;
    transition: 0.3s ease-in;
}
.CTA{
    background-color: var(--primary);
    padding: 8px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
.active{
    color: var(--primary) !important;
    font-weight: bold;
}